{% extends 'core/main.html' %}
{% block content %}

<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <h1 class="py-4 text-lg text-black-800 font-semibold">ФИРМА «НИКА»</h1>

    <div class="mx-auto">
        <h1 class="py-12 mt-6 mb-6 text-black-800 font-semibold">ДОРОГИЕ ДРУЗЬЯ, КОЛЛЕГИ, ПАРТНЕРЫ!</h1>
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
            <h2>Наша компания существует на рынке модной одежды с 2007 года, за этот достаточно короткий срок мы успели многого добиться. Благодаря грамотному руководству и квалифицированному персоналу наше предприятие является крупнейшей компанией в ЮФО и СКФО по оптовой продаже нижнего белья и чулочно-носочных изделий. На сегодняшний день наши представительства имеются в трех городах; Краснодар, Пятигорск, Ростов-на-Дону.

                Накопленный опыт работы и регулярное исследование тенденций развития рынка позволяют предложить Вам обширный, постоянно пополняемый ассортимент продукции в каждом из наших направлений и ГАРАНТИРОВАННОЕ наличие топовых позиций на складе.
                
                Наша компания «Ника» имеет эксклюзивное представительство по таким торговым маркам как: Intimidea, Mitex, Obsessive, Fresh Line, Alla Buone, Control Body, Luce Del Sole, Sei Bella и т.д. Также является официальным партнером торговых марок: Milavitsa, Aveline, Dimanche, Rosa Selvatica, Vis-a-vis, Интри, а так же концернов Конте Спа, Голден Леди Групп и Инканто Групп. Более того, в нашем ассортименте представлены многие другие известные бренды белья, трикотажа, чулочно-носочных изделий, мужского, женского и детского ассортимента, известных производителей Италии, России, Польши, Белоруссии.
                
                Наш товар - это разумное сочетание цены и качества при богатом ассортименте моделей. Современные методы планирования, учёта и отгрузки дают возможность нашим клиентам без лишних затрат времени и хлопот приобретать предлагаемую нами продукцию.
                
                Сотрудники отдела продаж помогут составить заказ, дадут профессиональную консультацию по ожидаемым новинкам, современных тканях, материалах, трендовых цветах, размерах, различных аксессуарах и направлениях в фэшн-индустрии. Для каждой из представленных ТМ имеется рекламное сопровождение в виде каталогов, буклетов, фирменных стоек.
                
                Каждого клиента, ждёт индивидуальный подход:
                
                Персональный менеджер.
                Бесплатная доставка.
                Гибкие цены и система скидок.
                Отсрочка платежа.
                Бронирование заказа.
                Более 50-ти торговых марок помогут нашим партнёрам обеспечить стабильную прибыль и высокий уровень дохода. С каждым годом мы взрослеем, развиваемся, добиваемся результатов, не пасуем перед трудностями, набираемся опыта и знаний.
                
                Сотрудничество с нами выгодно для Вас и мы будем рады видеть Вас в рядах наших клиентов!</h2>
        </div>
    </div>
</div>
{% endblock %}