{% extends 'core/main.html' %}
{% block content %}
<header class="px-6 py-10 lg:py-20 bg-gray-800">
    <div class="max-w-3xl mx-auto text-center ">
        <p class="font-mono mb-2 text-3xl lg:text-6xl text-white">Ника</p>

        <p class="mb-10 text-white lg:text-2xl">Модная и качественная одежда по хорошим ценам!</p>

        <a href="{% url 'shop' %}" class="inline-block px-8 py-4 rounded-xl bg-white text-black">Каталог</a>
    </div>
</header>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/item_list_product.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}  