<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Nika </title>
</head>
    <body>
        <nav class="border-b border-gray-300">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">

                    <a href="{% url 'frontpage' %}" class="py-4 text-lg text-black-800 font-semibold">
                        <img src="https://nika-calze.ru/img/public/logo-dark.png" width="125" height="50" alt="NIKA">
                    </a>

                    <ul class="flex items-center space-x-4">
                        <li><a href="{% url 'shop' %}" class="text-black hover:text-gray-600">Магазин</a></li>
                        <li><a href="{% url 'aboutus'%}" class="text-black hover:text-gray-600">О нас</a></li> 

                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="text-red-400 hover:text-red-600">Выход</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"class="text-black hover:text-gray-600">Авторизоваться</a></li> 
                        {% endif %}
                        
                    </ul>

                </div>

                <div class="menu-right flex items-center space-x-4">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'myaccount' %}" class="text-black hover:text-gray-600">
                        <h1 class="text-black hover:text-gray-600">{{ user.get_username }}</h1>
                    </a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="text-black hover:text-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                        </svg>
                    </a>
                    {% endif %}
                    <div
                        hx-get="{% url 'hx_menu_cart' %}"
                        hx-trigger="update-menu-cart from:body"
                        hx-swap="innerHTML"
                    > 
                        {% include 'cart/cart_menu.html' %}
                    </div>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class ="bg-gray-100">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left mb-12 md:mb-0">
                    <h2 class="mb-2 uppercase text-lg">Краснодар</h2>

                    <p class="text-gray-700">
                        <li>Адрес: ул. Шевченко, 150/1</li>
                        <li>Телефон: +7 861 239-03-79, +7 861 239-03-92</li>
                        <li>E-mail: nika-calze@mail.ru</li>
                    </p>

                </div>

                <div class="footer-right mb-12 md:mb-0">

                    <h2 class="mb-2 uppercase text-lg">Пятигорск</h2>

                    <p class="text-gray-700">
                        <li>Адрес: пос. Горячеводский, ул. Георгиевская, 70</li>
                        <li>Телефон: +7 8793 31-20-61, +7 8793 31-19-60</li>
                        <li>E-mail: nika26bk@mail.ru</li>
                    </p>

                </div>
            </div>
        </footer>


        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>