{% extends 'core/main.html' %}

{% block title %} Мой профиль {% endblock %}

{% block content %}

<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Мой профиль</h1>

    <div class="mb-6">
        <strong> Логин: </strong> {{ request.user.username }} <br>
        <strong> E-mail: </strong> {{ request.user.email }} <br>
    </div>

    <hr>

    <h2 class="my-6 text-xl">Мои заказы</h2>

    <div class="w-full mb-6 p-5 flex flex-wrap bg-gray-100 rounded-xl">
        <div class="mb-5 flex justify-between">
            <a href="#">Номер заказа: 1 </a>
        </div>

        <div class="mb-6 w-full">
            <div class="product mb-6 flex pr-6">
                <a href="#" class="w-1/4">
                    <img class="hover:shadow-lg rounded-xl" src="test.jpg">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">Название продукта</a>

                        <p class="mb-6 pt-1 text-black">3700 РУБ</p>
                    </div>

                    <hr>

                    <div class="mt-6">
                        Кол-во: 1
                    </div>
                </div>

                <div>
                    <p class="text-lg">Дата: 27.04.2222</p>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}